DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Si ce n'est pas un fichier réel, on envoie tout à index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
